{%load static%}

<nav class="z-10 flex justify-between bg-slate-400 rounded-full items-center w-8/12 p-1 hover:ring-2 drop-shadow-2xl sticky top-0 mx-auto">
    <div class="flex space-x-6">
        <ul class="flex space-x-6 ml-16">
            <li>About</li>
            <li>Second</li>
            <li>About</li>
        </ul>
    </div>

    <div class="items-center space-x-2 w-max mx-5">
        <img class="items-center rounded-full w-8 h-8 m-auto" src="{% static 'images/a.png' %}" alt="Profile Image">
        <p class="font-medium text-xl text-center">ExcelToCertifi</p>
    </div>

    <div class="flex space-x-6">
        <ul class="flex space-x-6 mr-16">
            <li>Third</li>
            <li>Fifth</li>
            <li>Login</li>
            <li>Sign-Up</li>
        </ul>
    </div>
</nav>