{%load static%}

<nav class="z-10 sm:flex justify-between bg-orange-400 items-center  p-5  drop-shadow-2xl mx-auto">
   
    <div class="items-center flex space-x-2 w-max mx-5">
        <img class="items-center rounded-full w-8 h-8 m-auto hover:scale-125 duration-200" src="{% static 'images/logo.jpg' %}" alt="Profile Image">
        <p class="font-bold text-2xl text-center">ExcelToCertifi</p>
    </div>

    <div class="flex md:space-x-6 m-4 sm:m-0 ">
        <ul class="font-bold justify-center  flex  space-x-12 space-y-3  mr-16 text-center items-center ">
            <li><button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Login</button></li>
            <li><button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded">Sign-Up</button></li>
        </ul>
    </div>


</nav>